<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cine Kokue</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
        }

        .navbar {
            padding: 0.5rem 1rem;
        }

        .navbar-brand, .nav-link {
            font-size: 1.1rem;
        }

        .nav-item {
            margin-left: 1rem;
        }

        .dropdown-menu {
            background-color: #343a40;
        }

        .dropdown-item {
            color: #f8f9fa;
        }

            .dropdown-item:hover {
                background-color: #495057;
            }

        footer {
            padding: 1rem 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Cine Kokue", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Pelicula", "Index", "Pelicula", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Clientes", "Index", "Cliente", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Reserva", "Index", "Reserva", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestiones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Horario")">Gestionar Horario</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Sala")">Gestionar Sala</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Funcion")">Gestionar Funciones</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Generoes")">Gestionar Generos</a>
                            <!-- Añade más opciones aquí -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        @RenderBody()
        <hr />
        <footer class="text-center mt-4">
            <p>&copy; @DateTime.Now.Year - Cine Kokue</p>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
